.bg-primary{
    background-color: #0D1117;
}
.bg-secondary{
    background-color: #192130;
}
.text-primary{
    color: #FFFF;
}
.button--primary{
    background-color: #043f8d;
    color: #FFFF;
}
.button--primary:hover{
    background-color: #0757c0;
    color: #FFFF;
}