.d-flex{
    display: flex;
}
.d-flex.col{
    flex-direction: column;
}
.d-flex.j-center{
    justify-content: center;
}
.d-flex.a-center{
    align-items: center;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-5{
    margin-top: 5px;
}